nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

ul{
    display: flex;
    list-style: none;
    gap: 32px;
} 

ul a{
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}