*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 92px;
     border: 1px solid black; 
    width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
    background: #FFFFFF;
}

/* .logo img{

} */


ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    /* align-items: center; */
} 

ul a{
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    /* align-items: center; */
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#banner{
    /* margin: 0; */
    max-width: 1600px;
    height: 674px;
    /* border: 1px solid red; */
    /* background-color: blue; */
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    

}

.heading{
    width: 47%;
    max-width: 1360px;
}

.early{
    display: inline-block;
    background: white;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    /* margin-bottom: 20px; */
}

.heading h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    /* margin-top: 166px; */
    line-height: 84px;
    /* text-align: center; */
    margin-bottom: 20px;
}

.heading p{
    font-size: 18px;
    line-height:24px ;
    margin-bottom: 32px;
}

.banner-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn1{
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #30B868;
    color: white;
    text-align: center;
    width: 251px;
    height: 52px;
}

.btn2{
   padding: 12px 16px;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   border: 1px solid #ffffff;
   cursor: pointer; 
   background: transparent;
   color: white;
   border: 1px solid white;
   text-align: center;
   width: 198px;
   height: 52px;
}


.notes{
    padding: 60px 40px;
    text-align: center;
}

.notes h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.notes p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 44px;
    flex-wrap: wrap;
    width: 1600px;
    height: 448px;
}

.c{
    background: #ffffff;
    padding: 30px;
    width: 332px;
    height: 330px;
    border-radius: 8px;
    text-align: center;
    
}

.c img{
    background-color: #F95555 ;
     width: 40px;
     margin-bottom: 15px;
}

.c h4{
    font-size: 24px;
    font-weight: 600;
}

.second-brain{
    padding: 60px 40px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.image{
    width: 280px;
}

.info h3{
    margin-bottom: 15px;
}

.info ul{
    margin-top: 15px;
}

.info li{
    margin: 8px 0;
}

.early-access{
    padding: 60px 40px;
  text-align: center;
  background: #ffffff;
}

.early-access p{
    margin: 15px 0;
}

.footer{
    background: #001931;
  color: white;
  text-align: center;
  padding: 20px;
}
