*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 92px;
    /* border: 1px solid black;  */
    width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
    background: #FFFFFF;
}

/* .logo img{

} */


ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    /* align-items: center; */
} 

ul a{
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    /* align-items: center; */
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#banner{
    /* margin: 0; */
    max-width: 1600px;
    height: 674px;
    /* border: 1px solid red; */
    /* background-color: blue; */
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    

}

.heading{
    width: 47%;
    max-width: 1360px;
}

.early{
    display: inline-block;
    background: white;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    /* margin-bottom: 20px; */
}

/* .early span{
    font-size: 30px;
    
} */

.heading h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    /* margin-top: 166px; */
    line-height: 84px;
    /* text-align: center; */
    margin-bottom: 20px;
}

.heading p{
    font-size: 18px;
    line-height:24px ;
    margin-bottom: 32px;
}

.banner-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn1{
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #30B868;
    color: white;
    text-align: center;
    width: 251px;
    height: 52px;
}

.btn2{
   padding: 12px 16px;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   border: 1px solid #ffffff;
   cursor: pointer; 
   background: transparent;
   color: white;
   border: 1px solid white;
   text-align: center;
   width: 198px;
   height: 52px;
}


.notes{
    padding: 60px 40px;
    text-align: center;
}

.notes h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.notes p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
    width: 1600px;
    height: 448px;
    
}

.c{
    background-color: #ffffff;
    padding: 40px;
    width: 332px;
    height: 330px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 10px #000000;
    
}

.c img{
    background-color: #F95555 ;
    border-radius: 100%;
     width: 40px;
     margin-bottom: 15px;
}

.c h4{
    font-size: 24px;
    font-weight: 600;
}

.second-brain{
    padding: 60px 40px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 840px;
    /* margin: 120px; */
}

.image{
    width: 600px;
}

.info{
    text-align: justify;
    width: 35%;
    max-width: 700px;
}

.info h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.info ul{
    margin-top: 15px;
    display: block;
}

.info li{
    margin-bottom: 16px;
    width: 700px;
    height: 20px;
}

.info-image{
    width: 20px;
    margin-bottom: 16px;
}
.early-access{
    padding: 60px 40px;
    text-align: center;
    background: #f7f6f2;
    height: 384px;
    margin: 2px 120px 120px 120px;
}

.early-access h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.early-access p{
    width: 45%;
    max-width: 1280px;
    margin: 0 auto 20px auto;
    line-height: 24px;
    color: #627382;
}

.dot{
    font-size: 40px;
    margin-top: 16px;
}
.footer{
    height: 348px;
    background: #001931;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    max-width: 1360px;
}

.footer-img{
    margin: 120px 0 0 120px;
}

.social{
    margin: 120px 120px 0 0;
}

.social p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}


.icons{
    color: #000000;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

hr{
    margin: 200px auto 30px auto;
}


