nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

ul{
    display: flex;
    list-style: none;
    gap: 32px;
} 

ul a{
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#banner{
    max-width: 1600px;
    height: 674px;
    /* background-color: blue; */
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    

}

.banner-info{
    width: 229px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 1000px;
    padding: 8px 12px;
    position: center;
}

.banner-info p{
    color: #30B868;
    text-align: center;
    margin: 8px 12px 8px 34px;
}

.heading-info{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    margin-top: 167px;
}